@CHARSET "ISO-8859-1";

:root {
	--tag-background-color: #f0f0f0;
}

:root.dark-theme {
	--tag-background-color: #303030;
}

@media ( max-width : 640px) {
	body .ui-dataview-layout-options>div.ui-button:not(:last-child) {
		border-bottom-width: 1px;
		border-right-width: 0
	}
	body .ui-dataview-layout-options>div.ui-button:first-child {
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0
	}
	body .ui-dataview-layout-options>div.ui-button:last-child {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px
	}
}

body .ui-dataview .ui-paginator.ui-paginator-top {
	border-width: 1px 1px 0 1px;
	border-radius: 0
}

body .ui-dataview .ui-paginator.ui-paginator-bottom {
	border-width: 0 1px 1px 1px;
	border-radius: 0
}

body .ui-dataview .ui-dataview-header {
	background: #f4f4f4;
	color: #333;
	padding: .857rem 1rem;
	font-weight: 700;
	border: 1px solid #c8c8c8;
	border-width: 1px 1px 0 1px
}

body .ui-dataview .ui-dataview-footer {
	background: #fff;
	color: #333;
	border: 1px solid #c8c8c8;
	border-width: 1px;
	padding: .571rem 1rem;
	font-weight: normal;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px
}

body .ui-dataview .ui-dataview-content {
	border: 0 none;
	padding: 0
}

body .ui-dataview.ui-dataview-list .ui-dataview-row {
	border: 1px solid #d8dae2;
	border-width: 1px
}

body .q-tag {
	display: inline-block;
	background-color: var(--tag-background-color);
	padding: 5px;
	margin-left: 3px;
	margin-right: 3px;
	margin-bottom: 6px;
	border-radius: 5px;
}

body .ui-dataview-header {
	display: none;
}

body .autocompleteChangedDisabled .ui-state-disabled {
	opacity: 0.80;
	font-weight: bold;
}

body .selectOneChangeDisabled .ui-selectonemenu-label {
	/* 	opacity: 0.80;
	font-weight: bold;
	color: var(--primary-text-color); */
	
}

body .tagButtonChangedDisabled .ui-state-disabled {
	opacity: 1;
}

body .ui-selectonemenu-panel .ui-selectonemenu-filter-container .ui-icon
	{
	display: none;
}

body .ui-picklist .ui-picklist-filter-container .ui-icon {
	display: none;
}

body .kb-link {
	color: var(--header-link-text-color);
	font-size: 17.5px;
	font-weight: bold;
	word-break: break-word;
}

body .question-panel {
	border: 1px solid #d8dae2;
	word-wrap: break-word;
}

body .question-panel .ui-panel-titlebar-icon, body .question-panel .ui-panel-titlebar-icon:hover,
	body .question-panel .ui-panel-titlebar-icon:focus, body .question-panel .ui-panel-titlebar-icon:active
	{
	margin-top: 10px;
	margin-left: 10px;
}

.memberTable .ui-datatable-tablewrapper {
	max-height: 300px;
}

.memberTable .ui-datatable-tablewrapper thead th {
	position: sticky;
	top: 0;
	z-index: 1;
}

.text-editor-read-only.ui-texteditor .ql-container .ql-editor {
	background: transparent;
	height: auto;
	color: var(--primary-text-color);
}

.text-editor-read-only.ui-texteditor .ql-container.ql-snow {
	border: none;
}

.tag-button {
	margin-left: 0.2em;
	margin-top: 1em;
	height: 2em;
	margin-bottom: 1em;
}

.text-editor.ui-texteditor .ql-container .ql-editor {
	min-height: calc(75vh - 11em);
}

.tag-list {
	max-height: 5em;
	overflow: none;
}

.kb-dialog-wrap {
	height: calc(100vh - 5em);
	display: block;
	padding-right: 0.5rem;
	overflow-y: auto;
}

.kb-select-one-menu {
	min-width: 6em;
	max-width: 20em;
	margin-left: 1em;
	margin-top: 0.75em;
}

.kb-question-category {
	margin-left: 0.5em;
	font-weight: bold;
}

.kb-input-title.ui-inputfield {
	width: 100em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 1em;
}