<html>

<body>

	<div id="wrapper">
		Hallo,
		<p></p><br>
		${Author} hat eine neue Frage mit dem Titel <b>"${title}"</b> in der Kategorie "${Category}" im Knowledge Board
		gestellt. Kennst du vielleicht eine Antwort? Dann schau doch gleich mal in <a style="color:#005078; text-align: center;"
			href="${TenantManagementUrl}">Knowledge Board</a> vorbei und
		hilf, die Frage zu beantworten.
		<p></p><br>
		Mit freundlichen Grüßen, <p></p>
		Ihr DoubleClue Knowledge Board Team
	</div>
</body>

</html>